<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="airtel.comviva.mahindra.radar">

    <application
        android:name=".RadarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name=".services.RadarSmsSendService"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".services.RadarUSSDSendService"
            android:exported="true"
            android:enabled="true"/>

        <activity
            android:name=".activities.ConfigureTaskActivity"
            android:label="@string/title_activity_configure_task"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="airtel.comviva.mahindra.radar.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ShowTaskActivity"
            android:label="@string/title_activity_show_task"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="airtel.comviva.mahindra.radar.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ReportActivity"
            android:label="@string/title_activity_report"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="airtel.comviva.mahindra.radar.MainActivity" />
        </activity>
        <receiver
            android:name=".receivers.RadarSmsReceivedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>